body {
  background-color: #e6e6e6;
}

@-webkit-keyframes color_change {
	from { text-shadow: #ffffff; }
	to { text-shadow: 0 0 20px #EA8C55; }
}
@-moz-keyframes color_change {
	from { text-shadow: #ffffff; }
	to { text-shadow: 0 0 20px #EA8C55; }
}
@-ms-keyframes color_change {
	from { text-shadow: #ffffff; }
	to { text-shadow: 0 0 20px #EA8C55; }
}
@-o-keyframes color_change {
	from { text-shadow: #ffffff; }
	to { text-shadow: 0 0 30px #EA8C55; }
}
@keyframes color_change {
	from { text-shadow: #ffffff; }
	to { text-shadow: 0 0 30px #EA8C55; }
}

.navbar-brand {
  color:#ffffff;
  /* background-color: #540804; */
  text-shadow: #ffffff;
  animation: color_change 20s ease-in-out infinite alternate;
}

.navbar-brand:hover {
  color: #ffffff;
}

.navbar-brand.active {
  font-weight: bold;
  color: #e6e6e6;
  animation: color_change 20s ease-in-out infinite alternate;
}

.bg-1 {
  background-color: #540804;
  color: #ffffff;
}

.bg-2 {
  background-color: #81171B;
  color: #ffffff;
  border-color: #81171B;
}

.bg-3 {
  background-color: #ad2e24;
  color: #ffffff;
  border-color: #ad2e24;
}

.bg-4 {
  background-color: #C75146;
  color: #ffffff;
  border-color: #C75146;
}

.bg-5 {
  background-color: #EA8C55;
  color: #ffffff;
  border-color: #EA8C55;
}

.nav-link {
  color: #ffffff;
}

.navbar-nav .nav-link.active {
  color: #ffffff;
}



/* .dropdown-menu.show {
  color: #bdbbbb;
} */

.bg-gray {
  color: black;
}

.dropdown-item:hover {
  background-color: #540804;
  color: #ffffff;
}

.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
  border-color: #81171B;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #540804;
}

.navbar-toggler {
  background-color: #81171B;
  color: #81171B;
}

#newThingButton {
  margin: 1rem;
  margin-bottom: 2rem;
}

#newThingButton:hover {
  background-color: #540804;
  border-color: #540804;
  color: #ffffff;
}

#goBackButton {
  margin: 1rem;
}

#goBackButton:hover {
  background-color: #540804;
  border-color: #540804;
  color: #ffffff;
}

.form-control:focus {
  border-color:rgb(173, 46, 36, 0.5);
  box-shadow: inset 0px 0px 0px 2px rgb(173, 46, 36, 0.5);
}

.form-select:focus {
  border-color:rgb(173, 46, 36, 0.5);
  box-shadow: inset 0px 0px 0px 2px rgb(173, 46, 36, 0.5);
}

.table {
  border: 2px solid #C7514655;
  border-collapse: separate;
  border-radius: 10px;
  box-shadow: 5px 0 15px 10px rgb(173, 46, 36, 0.2);
}


html {
  visibility: visible;
  opacity: 1;
}
